<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/edit/closebrackets.min.js"></script>

<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>程式競賽系統 BETA</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <p class="title-text">程式競賽系統 BETA</p>
    <p class="topic-choose">button-content</p>
    <div class = "time" id="time"></div>
</header>



<div class="textareas-container">
    <textarea id="code1" class="input-box"></textarea>
    <button class="submit-button" type="submit">提交程式碼</button>
    <textarea id="code2" class="input-box"></textarea>
</div>


<div class="footer">
    <button class="button" data-message="選擇主題：實作題">實作題</button>
    <button class="button" data-message="選擇主題：二分搜">二分搜</button>
    <button class="button">三分搜</button>
    <button class="button">貪心算法</button>
    <button class="button">分治</button>
    <button class="button">動態規劃</button>
</div>

<div class="footer">
    <button class="button">建設性算法</button>
    <button class="button">資料結構</button>
    <button class="button">計算幾何</button>
    <button class="button">旋轉卡尺</button>
    <button class="button">網路流算法</button>
    <button class="button">圖論</button>
</div>

<div class="footer">
    <button class="button">最短路</button>
    <button class="button">樹上算法</button>
    <button class="button">深度優先搜尋</button>
    <button class="button">折半枚舉</button>
    <button class="button">枚舉</button>
    <button class="button">數論</button>
</div>

<script src="script.js"></script>
</body>
</html>